{% extends "base.html" %}


{% block content %}
<div class="team-container">
    <h2>Team: {{ team.name }}</h2>
    <p>ELO: {{ team.elo }}</p>
    <p>Status: {{ team.state }}</p>
</div>
{% if editable %}
<p>About this team</p>
{% endif %}

<div class="team.about">
    <h3>{{team.about}}</h3>
    <!-- gives an error message that I can only edit my own team -->
    {% if editable %}
    <form method="POST" action="/team/{{ team.name }}">
        <input type="text" name="about" id="about" placeholder="About this team" value="{{ team.about }}" />
        <button type="submit">Update</button>
    </form>
    {% endif %}
</div>
{% endblock %}