{% extends "base.html" %}


{% block content %}

<div class="game-container">
    <h2> Team {{ game.team_a.name }} against team {{ game.team_b.name }}</h2>
    <p>remaining gaming time: <div id="timer">00:00:00</div></p>

    <form method="POST" action="/game">
        <button type="submit" name="done" class="btn-done" disabled>Game is over...</button>
    </form>

</div>
<script>
    let displayElement = document.getElementById("timer");
    let targetTime = new Date("{{ game.expected_end_time }}");

    {% include 'countdown_function.js' %}
</script>

{% endblock %}
