{% extends "base.html" %}


{% block content %}
<div class="game-container">
    <p>{{ game.team_a.name }} goes first</p>
    <p>waiting for the other team to be ready</p>
    <h3>Rules</h3>
    <ul>
        <li>PLACEHOLDER</li>
        <li>PLACEHOLDER</li>
        <li>PLACEHOLDER</li>
    </ul>
    <p>setup time is up [[TIMER: PLACEHOLDER]]</p>


    <form method="POST" action="/game">
        <button type="submit" name="ready" class="btn-ready" disabled>We are ready!</button>
    </form>
</div>
{% endblock %}